
		*{	margin: 0;padding:0 ;}
		.contain{ position:absolute;top:50%; left:50%; width: 500px; height: 300px; margin-top:-150px;margin-left:-250px;    background-image:url('https://ae01.alicdn.com/kf/H613fea1e96814a748ade5d0753cca9caK.jpg');  background-size: 100% 100%; border-radius: 10px; perspective: 700px;}
		.contain:hover{ box-shadow: 0 15px 30px rgba(0,0,0,.5);  transition: 1.5s;-webkit-transition: 1.5s; /* Safari */ }
		.input{ width: 200px; height: 100px; position: absolute;z-index: 10;margin-left: 160px; margin-top: 70px;background-color: bisque; border-radius: 20px;}
		.disabled {background-color:#CCC !important;cursor:not-allowed !important;}
		.sure{width: 198px; height:28px ;  margin-top: 10px;}
		.getit,.giveup{margin-left: 40px; margin-top: 7px;height: 30px;width: 40px; background-color: aqua;}
		.whead{position: relative; width:500px;height:100px;background-color:pink;border-radius:10px; border-bottom:1px solid black; transform-origin: top; transition: 1.5s;}
		.whead>p{text-align: center;line-height: 80px;font-size: 20px;}
		#open{border-radius: 50%; width: 50px;height: 50px; background-color: floralwhite;position: absolute;top:70%;left:45%;}
		#open:hover{background-color:pink; transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transition:all .8s ease 0s}
		.letter{width: 500px; height: 626px;   position: absolute; top:50%;margin-top:-314px;left:50%;margin-left:-250px; display: none; background-color: antiquewhite; line-height: 25px; }
		.up{ animation:mymove 6s infinite;-webkit-animation:mymove 6s ease;}
		.fanzhuan{transform:rotateX(150deg);-ms-transform:rotateX(150deg);-webkit-transform:rotateX(150deg)}
		.a1{background: url(https://api.uixsj.cn/bing/bing.php); cursor: url(https://ae01.alicdn.com/kf/H098f58de38ef43e7b416fba56f036a8eH.jpg), auto; }
		@keyframes mymove
		{
			from {top:0;}
			to {top:50%;margin-top:-314px;}
		}
		
		@-webkit-keyframes mymove /*Safari and Chrome*/
		{
			from {top:0px;}
			to {top:50%;margin-top:-314px;}
		}